@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.form-venta {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: $espaciado-lg;

  @include mobile {
    grid-template-columns: minmax(0, 1fr);

    .campo--ancho {
      grid-column: span 1;
    }
  }
}
